<h1>child component </h1>

<form [formGroup]="childForm">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">First name</label>
                <input type="text" formControlName="firstname" class="form-control">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Last Name</label>
                <input type="text" formControlName="lastname" class="form-control">
            </div>
            <button *ngIf="hideSubmitBtn" type="submit" class="btn btn-primary"
                (click)="submitChildFrom('submit')">Submit</button>
            <button *ngIf="hideEditBtn" type="submit" class="btn btn-primary"
                (click)="submitChildFrom('update')">Update</button>
        </div>
    </div>
</form>